<h1>Listing group_chat_lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_chat_lists.each do |group_chat_list| %>
      <tr>
        <td><%= group_chat_list.name %></td>
        <td><%= link_to 'Show', group_chat_list %></td>
        <td><%= link_to 'Edit', edit_group_chat_list_path(group_chat_list) %></td>
        <td><%= link_to 'Destroy', group_chat_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group chat list', new_group_chat_list_path %>
